<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('../partials/meta.ejs')%>

  <!-- links -->

  <!--Custom Css-->
  <link rel="stylesheet" href="css/productDetail.css" />
  <link rel="stylesheet" href="css/generales.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/header.css" />

  <!-- Font -->
  <link rel="" href="" />

  <!--FavIcon-->
  <link rel="shortcut icon" href="/img/electrotools/icons/FavIcoYellow.ico" type="image/x-icon" />

  <!-- Titulo de la Pag -->
  <title>ElectroTools - Detalles del Producto</title>
</head>

<body>
  <!-- Cuerpo -->

  <header>

    <%- include('../partials/header.ejs')%>
    
    <!--Encabezados viejo-->
    <!--
      <a href="#" title="Volver">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <h1>Detalles del <br>Producto</h1>
      <a href="#" title="Ir a la pág. principal">
        <img class="logo" src="/img/electroTools/identidad/LogoAmarillo-LetrasBlancas-FondoTransparente.png" alt="">
      </a>
    -->

  </header>

  <main>
    <!-- principal -->

    <!-- Producto -->
    <section class="seccion">

      <div class="tituloPrincipal">
        <h2>Rotomartillo Percutor DeWalt</h2>
        <h3>SDS DCH133hd 20V</h3>
        <img src="img/logos Empresas/herramientas/dewalt-logo.png" alt="logo DeWalt">
      </div>

      <article class="galeria">

        <div class="vistasmini">
          <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt grande 1.webp" alt="Imagen 1">
          <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt grande 2.webp" alt="Imagen 2">
          <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt grande 5.webp" alt="Imagen 3">
          <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt grande 4.webp" alt="Imagen 4">

        </div>
        <div class="vistagrande">
          <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt grande 2.webp" alt="Imagen Grande">
        </div>

      </article>

      <!-- Main Precios -->
      <article class="main-precios">
        <h4 class="fullname">Rotomartillo Percutor DeWalt - SDS DCH133hd 20V - Con Bateria Extraible </h4>
        <div class="precios">
          <div class="precio">
            <p>Precio</p>
            <p>$ 540.000.-</p>
          </div>
          <div class="cuotas">
            <p> Cuotas</p>
            <p>12 x $108.400.-</p>
          </div>
        </div>

        <div class="opciones">
          <a href="#">ver más opciones de pago</a>
          <div class="logosTC">
            <img src="img/logos Empresas/formas de pago/visa.png" alt="visa">
            <img src="img/logos Empresas/formas de pago/mastercard.png" alt="master">
            <img src="img/logos Empresas/formas de pago/Naranja X.png" alt="NaranjaX">
          </div>
        </div>
      </article>

      <button class="boton-accion" type="submit">Agregar al Carrito <i class="fa-solid fa-cart-shopping"></i></button>

    </section>

    <section class="seccion">
      <h3>Características</h3>

      <article class="saber">
        <h4>Lo que tenés que saber de este producto</h4>
        <ul>
          <li>Permite taladrar sin percusión, taladrar con percusión y cincelar.</li>
          <li>Rota a una velocidad mínima de 0rpm y una velocidad máxima de 1500rpm.</li>
          <li>Con 2.6J de impacto, ideal para trabajos de perforación en el hogar.</li>
          <li>Perfora hormigón de hasta 26mm, metal de 13mm y madera de 30mm.</li>
          <li>Ejecuta 5500 golpes por minuto.</li>
          <li>Utiliza encastre SDS Plus de 10mm de diámetro.</li>
          <li>Con mango ergonómico que favorece el agarre.</li>
          <li>Tiene embrague de seguridad para mayor protección.</li>
          <li>Pesa 2.6 kg.</li>
          <li>Herramienta práctica para todo tipo de trabajo.</li>
        </ul>
      </article>

      <article>
        <h4>Características generales</h4>
        <ul>
          <li>Marca: DeWalt</li>
          <li>Modelo: D25133K</li>
          <li>Color: Amarillo/Negro</li>
          <li>Voltaje: 220V</li>
          <li>Frecuencia: 50 Hz</li>
          <li>Potencia: 800 W</li>
          <li>Modelo detallado: D25133k</li>
        </ul>
      </article>

      <button class="boton-accion">Descargar Manual <i class="fa-solid fa-file-pdf"></i></button>

    </section>

        <!-- Promocion de Productos -->
        <section class="productos">

          <!-- Recomendados -->
          <div class="recomendaciones">
            <h3 class="titulo">Según tu preferencia</h3>
    
            <section class="tarjetas">
              <article class="tarjeta product">
                <h4>Amoladora Angular</h4>
                <div class="imgProducto">
                  <img src="img/herramientas/amoladora DeWalt/amoladora DeWalt.webp" alt="amoladora DeWalt">
                </div>
                <div class="detalles">
                  <p class="marca">DeWalt</p>
                  <p class="modelo">DWE4010 50Hz</p>
                </div>
                <i class="fa-solid fa-tags"></i>
                <div class="precios">
                  <p class="precioAnterior">$ 50.999.-</p>
                  <p class="precioActual">$ 50.999.-</p>
                </div>
              </article>
    
              <article class="tarjeta product">
                <h4>Taladro Percutor</h4>
                <div class="imgProducto">
                  <img src="img/herramientas/atornillador Makita/atornillador makita.webp"
                    alt="atornillador electrico Makita">
                </div>
                <div class="detalles">
                  <p class="marca">Makita</p>
                  <p class="modelo">DHP453sye 18V</p>
                </div>
                <i class="fa-solid fa-tags"></i>
                <div class="precios">
                  <p class="precioAnterior">$394.960.-</p>
                  <p class="precioActual">$394.960.-</p>
                </div>
    
              </article>
    
              <div class="next">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
    
            </section>
    
          </div>
    
          <!-- Ofertas -->
          <div class="recomendaciones ofertas">
            <h3 class="titulo">OFERTAS</h3>
    
            <section class="tarjetas">
              <article class="tarjeta oferta">
                <h4>Taladro Atornillador</h4>
                <div class="imgProducto">
                  <img src="img/herramientas/atornillador electrico/atornillador electrico.webp"
                    alt="atornillador electrico Versa">
                </div>
                <div class="detalles">
                  <p class="marca">VersaMax</p>
                  <p class="modelo">Recargable 8V</p>
                </div>
                <i class="fa-solid fa-tags"></i>
                <div class="precios">
                  <p class="precioAnterior">$ 64.999.-</p>
                  <p class="precioActual">$ 61.999.-</p>
                </div>
    
              </article>
    
              <article class="tarjeta oferta">
                <h4>Kit RotoMartillo</h4>
                <div class="imgProducto">
                  <img src="img/herramientas/rotomartillo DeWalt/rotoMartillo DeWalt.webp" alt="taladro en caja">
                </div>
                <div class="detalles">
                  <p class="marca">DeWalt</p>
                  <p class="modelo">SDS DCH133hb</p>
                </div>
                <i class="fa-solid fa-tags"></i>
                <div class="precios">
                  <p class="precioAnterior">$552.599.-</p>
                  <p class="precioActual">$540.000.-</p>
                </div>
              </article>
    
              <div class="next">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
    
            </section>
    
          </div>
        </section>


  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <!-- Scrips -->
  <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>

</body>

</html>