<!-- Cristian -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de productos</title>
</head>
<body>
    Aqui se editaran los productos
</body>
</html>