<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="HerramientasElectricas, ElectroTools" />
    <meta name="author" content="Nombre del integrante que corresponda" />
    <meta
      name="description"
      content="Trabajo Integrador del curso de Desarrollador Web Fullstack de DH"
    />

    <!-- links -->
    <!-- links agregados por Cristian-->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha384-..." crossorigin="anonymous" />

    <!--Custom Css-->
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/generales.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>

    <!-- Font -->
    <link rel="" href="" />

    <!--FavIcon-->
    <link rel="shortcut icon" href="/img/electroTools/icons/FavIcoYellow.ico" type="image/x-icon" />

    <!-- Titulo de la Pag -->
    <title>ElectroTools - Home</title>
  </head>

  <body>
    <!-- Cuerpo -->

    <header><!-- Desde aqui trabaja Cristian -->
      <section class="top-header">
        <div class="caja-del-logo">
            <img class="logo" src="/img/electroTools/fondos/LogoCristian.jpg" alt="Logo de la Página">
        </div>
        <div class="caja-de-barra-de-busqueda">
            <input class="barra-de-busqueda" type="text" placeholder="¿Que estas buscando?">
        </div>
        <div class="caja-de-whatsapp">
            <i class="fa-brands fa-whatsapp">WhatsApp</i>
        </div>
      </section>
      <nav>
        <ul type="none">
            <li>Herramientas con cable</li>
            <li>Herramientas a bateria</li>
            <li>Linea de medicion</li>
            <li>Accesorios</li>
            <li>Novedades</li>
            <li>Institucional</li>
            <li>Contactanos</li>
        </ul>
      </nav>
    </header><!-- Hasta aqui trabaja Cristian -->

    <main>
      <!-- principal -->

    </main>

    <footer>
      <!-- Pie de Pagina -->
      <section class="main-footer">
  
        <!-- Identidad -->
        <article class="identidad">
          <a href="#" title="Ir a la pág. principal">
            <img class="logo" src="/img/electroTools/identidad/LogoAmarillo-LetrasBlancas-FondoTransparente.png" alt="logo ElectroTools">
          </a>
          <div class="redesSociales">
            <a href="#" title="Siguenos en Instagram!"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" title="Siguenos en Facebook!"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" title="Siguenos en Youtube!"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </article>
  
        <!-- Medios de Contacto -->
        <article class="contacto">
          <h4>Atención al Cliente</h4>
  
          <div class="horario">
            <h5>Horario de Atención</h5>
            <p class="dias">Lunes - Jueves</p>
            <p class="horario">09:00 am a 19:00 pm</p>
          </div>
  
          <div class="email">
            <h5>Correo Electrónico</h5>
            <a href="mailto:atencion-clientes@electrotools.com" title="enviar mail">atencion-clientes@electrotools.com</a>
          </div>
  
          <div class="telefono">
            <h5>Teléfono</h5>
            <p>0810-555-1234</p>
          </div>
        </article>
  
        <!-- Institucional -->
        <article class="institucional">
          <h4>Institucional</h4>
          <ul>
            <li>Proveedores</li>
            <li>Política de Privacidad</li>
            <li>Acerca de ElectroTools</li>
            <li>Blog y Tutoriales</li>
            <li>Trabaja con Nosotros</li>
          </ul>
        </article>
        
      </section>
      
      <!-- Terceras Marcas -->
      <article class="marcas">
        <img src="img/logos Empresas/herramientas/makita-logo.png" alt="logo makita"></img>
        <img src="img/logos Empresas/herramientas/dewalt-logo.png" alt="logo dewalt"></img>
        <img src="img/logos Empresas/herramientas/stanley-logo.png" alt="logo stanley"></img>
        <img src="img/logos Empresas/herramientas/black+decker-logo.png" alt="black+decker-logo"></img>
      </article>
      
      <a href="#" class="copyright" title="Ir al sitio web del Team Dinamita Arg"> Team Dinamita Arg ©</a>
  
    </footer>
  
    <!-- Scrips -->
    <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>
  

  </body>
</html>
