<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="HerramientasElectricas, ElectroTools" />
    <meta name="author" content="Nombre del integrante que corresponda" />
    <meta
      name="description"
      content="Trabajo Integrador del curso de Desarrollador Web Fullstack de DH"
    />

    <!-- links -->
    <!-- links agregados por Cristian-->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha384-..." crossorigin="anonymous" />

    <!--Custom Css-->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/generales.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>

    <!-- Font -->
    <link rel="" href="" />

    <!--FavIcon-->
    <link rel="shortcut icon" href="/img/electroTools/icons/FavIcoYellow.ico" type="image/x-icon" />

    <!-- Titulo de la Pag -->
    <title>ElectroTools - Home</title>
  </head>

  <body>
    <!-- Cuerpo -->

    <header><!-- Desde aqui trabaja Cristian -->
      <section class="top-header">
        <div class="caja-del-logo">
            <img class="logo" src="img/fondos/LogoCristian.jpg">
        </div>
        <div class="caja-de-barra-de-busqueda">
            <input class="barra-de-busqueda" type="text" placeholder="¿Que estas buscando?">
        </div>
        <div class="caja-de-whatsapp">
            <i class="fa-brands fa-whatsapp">WhatsApp</i>
        </div>
      </section>
      <nav>
        <ul type="none">
            <li>Herramientas con cable</li>
            <li>Herramientas a bateria</li>
            <li>Linea de medicion</li>
            <li>Accesorios</li>
            <li>Novedades</li>
            <li>Institucional</li>
            <li>Contactanos</li>
        </ul>
      </nav>
    </header><!-- Hasta aqui trabaja Cristian -->

    <main>
      <!-- principal -->

    </main>

    <footer>
      <!-- Pie de Pagina -->

    </footer>

    <!-- Scrips -->
    <script src=""></script>

  </body>
</html>
