/* ----------------- */
/* ESTILOS GENERALES */
/* ----------------- */

* {
    font-family: sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
}

body {
    background: #dcdcdc;
}

label {
    font-size: 0.75rem;
}

input {
    background-color: #dcdcdc;
    border: 0.0625rem solid #dcdcdc;
    color: #ffb81c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height: 1rem;
}

input::placeholder {
    text-align: center;
    line-height: 0.75rem;
    font-size: 0.7rem;
    color: rgba(255, 182, 26,0.7);
    vertical-align: middle;
}

i{
    color: #ffb81c;
    text-shadow: #11111f 0.125rem 0.0625rem 0.1875rem;
}


/* ----------------- */
/*      HEADER       */
/* ----------------- */



/* ----------------- */
/*       MAIN        */
/* ----------------- */

.seccion{
    width: 95vw;
    margin: auto;
    margin-top: 1rem;
    background-color: #fff;
    border: 0.0625px solid #dcdcdc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #11111f 0px 0.1875rem 0.3125rem;
    border-radius: 8px;
    padding: 1rem;
}

.boton-accion{
    display: block;
    margin: auto;
    margin-top: 1.2rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    width: 95%;
    height: 3rem;
    background-color: #11111f;
    color: #ffb81c;
    font-weight: bold;
    box-shadow: #11111f 0.1875rem 0.125rem 0.3125rem;
}


/* ----------------- */
/*      FOOTER       */
/* ----------------- */

footer{
    background-color: #11111f;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
    margin-top: 1.25rem;
}

footer section article{
    margin-top: 2rem;
}

/* Identidad */

.identidad img{
    width: 12rem;
}

.redesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.redesSociales a{
    text-decoration: none;
    color: #ffb81c;
    position: relative;
    bottom: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
    border: 0.125rem #ffb81c solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Medios de Contacto */

.contacto *{
    text-align: center;
    margin: 0;
}

.contacto h4{
    font-size: 1.5rem;
    margin: 1rem;
    color: #ffb81c;
}

.contacto h5{
    font-size: 1rem;
}

.contacto p{
    font-size: 0.8rem;
}

.contacto div{
    margin: 1rem
}

.email a{
    text-decoration: none;
    color:#dcdcdc;
}

.telefono p{
    font-size: 1.5rem;
    font-weight: 600;
}


/* Institucional */

.institucional h4{
    font-size: 1.5rem;
    margin: 1rem;
    color: #ffb81c;
}

.institucional ul{
    list-style: none;
    display: block;
    padding-inline-start: 0px;
}

.institucional ul li{
    margin: 0;
}


/* Terceras Marcas */
.marcas{
    display: flex;
    align-items: center;
    justify-content: center;

}

.marcas img{
    width: 3rem;
    margin: 1rem;
}



.copyright{
    color: #ffb81c;
    text-decoration: none;
    position: relative;
    top: 0.5rem;
    font-size: 0.5rem;
}



/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */

@media (min-width:445px){

    html{
        font-size: 20px;
    }

}

@media (min-width:580px){

    html{
        font-size: 26px;
    }

}

@media (min-width:710px){

    html{
        font-size: 32px;
    }

}

@media (min-width:1200px){

    html{
        font-size: 42px;
    }

}