header {
    background-color: rgb(16, 16, 30);
    padding-bottom: 2rem;
}

/* --------------- */
/*  Logo en svg ⚡ */
/* --------------- */
.svg-container-header {
    width: 75vw;
    margin: 0 auto;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

/* --------------------- */
/*  Boton hamburguesa 🍔 */
/* --------------------- */
.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.burger label {
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffb81c;
    padding: 0.625rem 1rem;
    border: solid 0.125rem #ffb81c;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}


#toggle{
    position: absolute;
    visibility: hidden;
}

#toggle:checked ~ .menus {
    display: block;
    transition: all 350;
    -webkit-transition: all 350;
    -moz-transition: all 350;
    -ms-transition: all 350;
    -o-transition: all 350;
}

#toggle:not(:checked) ~ .menus{
    display: none;
    transition: all 350;
    -webkit-transition: all 350;
    -moz-transition: all 350;
    -ms-transition: all 350;
    -o-transition: all 350;
}

.menus{
    margin-top: 2rem;
    width: 100vw;
}

/* ------------------- */
/*    Menu Usuario 👷‍♂️  */
/* ------------------- */

/* Menu Usuarios */
.userBar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 0;
}


.userBar a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: #dcdcdc;
    font-weight: bold;
}

.userBar i {
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
}

/* ---------------------- */
/*  Barra de Busqueda 🔍 */
/* ---------------------- */

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBar input {
    width: 75%;
    padding: 0.8rem;
    border: solid 0.125px #ffb81c;
    border-radius: 0.3125rem;
    color: #11111f;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
}

.searchBar input::placeholder {
    color: #11111f;
    font-size: 1rem;
}

/* boton de buscar */
.searchBar button {
    padding: 0.2rem;
    background-color: #dcdcdc;
    border: solid 1px #ffb81c;
    font-size: 1rem;
    margin-left: 0.625rem;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
}

.searchBar button:hover {
    background-color: #ffb81c;
}

/* ----------------------- */
/*  Menu de navegacion ⛵ */
/* ----------------------- */

.navBar {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}

.navBar a {
    text-decoration: none;
    color: #dcdcdc;
}

.navBar ul{
padding: 0;
margin-bottom: 0;
}

.navBar li {
    margin-top: 1.2rem;
}

/* ------------------ */
/*  Boton Carrito 🛒 */
/* ------------------ */
.cart {
    font-size: 1.5rem;
    background-color: #11111f;
    position: fixed;
    top: 0.625rem;
    right: 0.625rem;
    border: solid 0.125rem #ffb81c;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0px;
    z-index: 9999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    right: 0.0625rem;
}
