/* ----------------- */
/* ESTILOS GENERALES */
/* ----------------- */

h1{
    color:red;
}


/* ----------------- */
/*      HEADER       */
/* ----------------- */
/* Clases agregadas por Cristian */

header{
    background-color: rgb(18, 17, 31);
    color: white;
}
header section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header section img{/* logo */
    width: 50vw;
}
header section input{/* barra de busqueda*/
    width: 50vw;
    border: solid 1px yellow;
    border-radius: 4px;
}
header section div{/*Registrate - Tu carrito*/
    margin-top: 10px;
    font-size: 12px;
}
header section div i{
    margin: 0px 25px;
}
header nav{
}
header nav ul{
}

@media (min-width: 769px){
    header{
    }
    header section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header section img{
        width: 30vw;
    }
    header section input{
        width: 50vw;
        border: solid 1px #feb81c;
        border-radius: 4px;
    }
    header section div{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    header section div i{
        margin: 10px;
    }
    header nav{
        border-top: solid 5px white;
    }
    header nav ul{
        display: flex;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
    }
    header nav ul li{
    }
}
/* Hasta aqui agrego Cristian */


/* ----------------- */
/*       MAIN        */
/* ----------------- */



/* ----------------- */
/*      FOOTER       */
/* ----------------- */



/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */


