/* ----------------- */
/* ESTILOS GENERALES */
/* ----------------- */

h1{
    color:red;
}


/* ----------------- */
/*      HEADER       */
/* ----------------- */



/* ----------------- */
/*       MAIN        */
/* ----------------- */



/* ----------------- */
/*      FOOTER       */
/* ----------------- */



/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */


