/* ----------------- */
/*       MAIN        */
/* ----------------- */


.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../img/electroTools/fondos/FondoCirculitos.jpg);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.login-conteiner {
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 90%;
    padding: 20px 10px 20px;
    border-radius: 25px;
    background-color: #dcdcdcde;
    box-shadow: #000000 0px 0.1875rem 0.3125rem;
    border: #000000 solid 3px;
    text-align: center;
}

.heder-register {
    text-align: center;
    background-color: #dcdcdc00;
    font-size: 1.25rem;
    margin: auto;
    color: #ce9416;

}

.form {
    display: flex;
    height: 60%;
    width: 90%;
    justify-content: center;
    margin-bottom: 5%;
}

.div-form {
    display: flex;
    width: 100%;
    margin: 10px 0px;
    align-items: center;
    overflow: hidden;
    border: #11111f5d solid 3px;
    border-radius: 25px;
}

.div-form input {
    display: flex;
    width: 85%;
    height: 1.5rem;
    background: transparent;
    outline: none;
    color: #11111f;
    font-size: 0.7rem;
    border: transparent;
}

.login-conteiner input::placeholder {
    color: #11111f;
    font-size: 1rem;
    align-items: center;
    background: transparent;
}

.div-form i {
    background: transparent;
    margin: auto;
    margin-left: 0.5rem;
    justify-content: flex-start;
    align-self: stretch;
    cursor: pointer;
    width: 5%;
    color: #ffb81c;

}

.buttom-register-login {
    background-color: #d19617;
    border-radius: 25px;
    border: #11111f solid 2px;
    cursor: pointer;
    width: 100%;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttom-imput {
    width: 100%;
}

div .rememberMe{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}


input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-left: 0.125rem;
}

.texto {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
}

.sinCuenta{
    font-size: 0.5rem;
}


/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */

@media(max-height: 475px) {
    .div-form {
        margin: 5px 0;
    }

    .buttom-register {
        top: 0px;
    }
}

@media (min-width:445px) {

    html {
        font-size: 1.2rem;
    }

    .heder-register {
        font-size: 1.2rem;
    }

    .login-conteiner {
        padding: 30px 30px 40px;
    }


}

@media (min-width:580px) {

    html {
        font-size: 1.4rem;
    }
    .login-conteiner{
        max-width: 500px;
    }

    .form-conteiner {
        padding: 30px 50px 70px;
    }
}

@media (min-width:710px) {
    html {
        font-size: 24px;
    }

    main{
        font-size: 0.75rem;
    }

    
    
    .form-conteiner {
        padding: 40px 30px 70px;
        max-width: 800px;
        height: 60%;
        width: 80%;
    }
    
    .form {
        display: block;
        height: 90%;
        justify-content: center;
        margin-bottom: 5%;
        margin: auto;
    }
    
    .sinCuenta{
        font-size: 0.2rem;
    }
    
    .form input::placeholder {
        font-size: 0.6rem;
        color: rgba(16, 16, 30, 0.7); 
    }
}

@media (min-width:975px) {
    
    html {
        font-size: 20px;
    }
    
    .form-conteiner {
        display: flex;
        padding: 10px 30px 70px;
        height: 95%;
        max-width: 750px;
        max-height: 420px;
    }

    .heder-register {
        font-size: 1.5rem;
    }

    .form {
        align-items: center;
        width: 100%;
    }
}

@media (min-width:975px) {
    .heder-register {
        font-size: 1rem;
    }
}