/* Cristian (La prioridad es mantener un diseño consistente con el diseño de Gus */

.mainConteiner {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/electroTools/fondos/FondoCirculitos.jpg);
    background-size: cover;
    border: 2px #000000 solid;
}

.formConteiner {
    width: 75%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: #000000 solid 3px;
    border-radius: 25px;
    background-color: #dcdcdcde;
    box-shadow: #000000 0px 0.1875rem 0.3125rem;
}

.formConteiner h1 {
    text-align: center;
    font-size: 1rem;
    color: #ce9416;
    margin: 1rem;
}

.formConteiner form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.formConteiner label {
    font-size: 0.75rem;
    color: #000000;
    margin-left: 0.75rem;
}

.divInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    border: #11111f5d solid 3px;
    border-radius: 25px;
    margin-bottom: 1rem;
    height: fit-content;
}

.divInput input {
    text-align: center;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    color: #11111f;
    font-size: 0.6rem;
    border: none;
}

.description {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    font-size: 0.6rem;
    border: none;
    resize: none;
    /*padding: 0.125rem 0.8125rem;*/
    /*border: #11111f5d solid 3px;*/
    /*border-radius: 25px;*/
    /*margin-bottom: 0.5rem;*/
    /*margin: 0.3125rem 0 0.6rem 0;*/
    /*background-color: #00000000;*/
}

.attention {
    color: red;
}

.category {
    margin: 0.3125rem 1.5625rem 1.5625rem;
    font-size: 0.6rem;
}

.file {
    margin: 0.3125rem 1.5625rem;
    font-size: 0.6rem;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d19617;
    margin: 1rem 0;
    width: 100%;
    border-radius: 25px;
    height: 2rem;
    border: #11111f solid 2px;
    font-size: 1rem;
}

/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */

@media (min-width:710px) {

    .formConteiner {
        width: 80%;
        margin: 0.8rem;
    }

    .formConteiner h1 {
        font-size: 0.6rem;
        margin: 0.6rem;
    }

    .formConteiner label {
        font-size: 0.5rem;
        margin-left: 0.5rem;
    }

    .divInput {
        margin-bottom: 0.6rem;
    }


    .divInput input {
        height: 0.6rem;
        font-size: 0.5rem;
    }

    .formConteiner input::placeholder{
        font-size: 0.5rem;
    }

    .description {
        font-size: 0.4rem;
        padding: 0.125rem 0.8125rem;
        resize: none;
        width: 100%;
        height: 2rem;
        /*background-color: #00000000;*/
        background: none;
    }


    .file {
        margin: 0.3125rem 1.5625rem;
        font-size: 0.4rem;
    }

    .submit {
        margin: 0.6rem 0;
        height: 1.6rem;
        font-size: 0.8rem;
    }

}
