<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="HerramientasElectricas, ElectroTools" />
  <meta name="author" content="Moya Vera Gustavo Daniel" />
  <meta name="description" content="Trabajo Integrador del curso de Desarrollador Web Fullstack de DH" />

  <!-- links -->

  <!--Custom Css-->
  <link rel="stylesheet" href="css/generales.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/login.css" />

  <!-- Font -->
  <link rel="" href="" />

  <!--FavIcon-->
  <link rel="shortcut icon" href="/img/icons/FavIcoYellow.ico" type="image/x-icon" />
  <!--Icons-->

  <script src="https://kit.fontawesome.com/28a6abd58f.js" crossorigin="anonymous"></script>

  <!-- Titulo de la Pag -->
</head>

<body>
  <!-- Cuerpo -->

  <header>
    <!--Encabezados-->
    <nav></nav>

  </header>

  <main>
    <!-- principal -->
    <div class="conteiner">
      <section class="login-conteiner">
        <h1 class="heder-register">INICIAR SESIÓN</h1>
        <form action="/login" method="post" class="form">

          <div class="div-form" id="email">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="correo-electronico" placeholder="Correo Electrónico" id="correo-electronico"
              required>
          </div>
          <div class="div-form" id="password">
            <i class="fa-solid fa-eye-slash"></i>
            <input type="password" name="contrasenia" placeholder="Contraseña" id="contrasenia" required>
          </div>

          <div class="buttom-imput">
            <button type="submit" class="buttom-register">Ingresar</button>
            <p class="texto" >¿No tiene una cuenta?</p>
            <a class="texto" href="/register">Crear cuenta</a>
            <a class="texto" href="/#">¿Olvidó su contraseña?</a>

          </div>

        </form>
      </section>
    </div>
  </main>

  <footer>
    <!-- Pie de Pagina -->
  </footer>

  <!-- Scrips -->
  <script src=""></script>

</body>

</html>