<section class="carrusel">

  <div class="item-carrusel" id="item1">

    <div class="img-carrusel">
      <img src="/img/imgCarrusel/CyberMonday1.jpg" alt="Cyber Monday">
    </div>
    <div class="flechas-carrusel">
      <a href="#item3" title="anterior"><i class="fa-solid fa-circle-arrow-left"></i></a>
      <a href="#item2" title="siguiente"><i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
  </div>
  <div class="item-carrusel" id="item2">
    <div class="img-carrusel">
      <img src="/img/imgCarrusel/CyberMonday2.jpg" alt="Cyber Monday">
    </div>
    <div class="flechas-carrusel">
      <a href="#item1" title="anterior"><i class="fa-solid fa-circle-arrow-left"></i></a>
      <a href="#item3" title="siguiente"><i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
  </div>
  <div class="item-carrusel" id="item3">
    <div class="img-carrusel">
      <img src="/img/imgCarrusel/CyberMonday3.jpg" alt="Cyber Monday">
    </div>
    <div class="flechas-carrusel">
      <a href="#item2" title="anterior"><i class="fa-solid fa-circle-arrow-left"></i></a>
      <a href="#item1" title="siguiente"><i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
  </div>
</section>