<!-- ----------------- -->
<!--      FOOTER       --> 
<!-- ----------------- -->

<!-- Pie de Pagina -->
<section class="main-footer">

  <!-- Identidad -->
  <article class="identidad">
    <a href="#" title="Ir a la pág. principal">
      <img class="logo" src="/img/electroTools/identidad/LogoAmarillo-LetrasBlancas-FondoTransparente.png"
        alt="logo ElectroTools">
    </a>
    <div class="redesSociales">
      <a href="#" title="Siguenos en Instagram!"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" title="Siguenos en Facebook!"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" title="Siguenos en Youtube!"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </article>

  <!-- Medios de Contacto -->
  <article class="contacto" id="contacto">
    <h4>Atención al Cliente</h4>

    <div class="horario">
      <h5>Horario de Atención</h5>
      <p class="dias">Lunes - Jueves</p>
      <p class="horario">09:00 am a 19:00 pm</p>
    </div>

    <div class="email">
      <h5>Correo Electrónico</h5>
      <a href="mailto:atencion-clientes@electrotools.com" title="enviar mail">at.clientes@electrotools.com</a>
    </div>

    <div class="telefono">
      <h5>Teléfono</h5>
      <p>0810-555-1234</p>
    </div>
  </article>

  <!-- Institucional -->
  <article class="institucional" id="institucional">
    <h4>Institucional</h4>
    <ul>
      <li>Proveedores</li>
      <li>Política de Privacidad</li>
      <li>Acerca de ElectroTools</li>
      <li>Blog y Tutoriales</li>
      <li>Trabaja con Nosotros</li>
    </ul>
  </article>

</section>

<!-- Terceras Marcas -->
<article class="marcas">
  <img src="/img/logos Empresas/herramientas/makita-logo.png" alt="logo makita"></img>
  <img src="/img/logos Empresas/herramientas/dewalt-logo.png" alt="logo dewalt"></img>
  <img src="/img/logos Empresas/herramientas/stanley-logo.png" alt="logo stanley"></img>
  <img src="/img/logos Empresas/herramientas/black+decker-logo.png" alt="black+decker-logo"></img>
</article>

<a href="#" class="copyright" title="Ir al sitio web del Team Dinamita Arg"> Team Dinamita Arg ©</a>