<!-- Encabezado -->
<section>

  <img src="img/electroTools/fondos/LogoCristian.jpg" alt="Logo de la Página">


  <input type="text" placeholder="¿Que estas buscando?">
  <button>Buscar</button>

  <div class="top-header-rigth">

    <div class="sesion-registrate">
      <a href="/login" title="Iniciar sesion">Logueate<i class="fa-solid fa-right-to-bracket"></i></a>
      <a href="/register" title="Registrate">Registrate<i class="fa-solid fa-user"></i></a>
    </div>

    <div class="carrito">
      <a href="/productcart" title="Tu carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

  </div>

</section>

<nav>
  <a href="#" title="Menu" class="burger"><i class="fa-solid fa-bars"></i></a>
</nav>
<nav class="navbar">
  <ul type="none">
    <li><a href="#cajaherramientas">Herramientas</a></li>
    <li><a href="#ofertas">OFERTAS</a></li>
    <li><a href="#novedades">Novedades</a></li>
    <li><a href="#institucional">Institucional</a></li>
    <li><a href="#contacto">Contactanos</a></li>
  </ul>
</nav>