<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('../partials/meta.ejs')%>

  <!-- links -->

  <!--Custom Css-->
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/generales.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/registerEdition.css" />

  <!-- Font -->
  <link rel="" href="" />

  <!--FavIcon-->
  <link rel="shortcut icon" href="/img/icons/FavIcoYellow.ico" type="image/x-icon" />
  <!--Icons-->
  <script src="https://kit.fontawesome.com/28a6abd58f.js" crossorigin="anonymous"></script>

  <!-- Titulo de la Pag -->
  <title>ElectroTools - Edición de Registro</title>

</head>

<body>
  <!-- Cuerpo -->

  <header>
    <!--Encabezados-->
    <%- include('../partials/header.ejs')%>
  </header>

  <main>
    <!-- principal -->
    <div class="conteiner">
      <section class="form-conteiner">
        <h1 class="heder-register">EDITAR DATOS</h1>
        <form action="/edicionRegistro/:id/editar?_method=PUT"" method="PUT" class="form">
          
          <div class="div-form" id="name">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="nombre-y-apellido" placeholder="Nombre y Apellido"  id="nombre-y-apellido" required>
          </div>

          <div class="div-form" id="email">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="correo-electronico" placeholder="Correo Electrónico"  id="correo-electronico"
              required>
          </div>

          <div class="div-form" id="tel">
            <i class="fa-solid fa-phone"></i>
            <input type="tel" name="telefono" placeholder="Teléfono" id="telefono" required>
          </div>

          <div class="div-form" id="password">
            <i class="fa-solid fa-eye-slash"></i>
            <input type="password" name="contrasenia" placeholder="Nueva Contraseña" id="contrasenia" required>
          </div>
          <div class="div-form" id="password">
            <i class="fa-solid fa-eye-slash"></i>
            <input type="password" name="contrasenia2" placeholder="Confirmar Contraseña" id="contrasenia2" required>
          </div>

          <div  id="buttom-imput">
            <button type="submit" class="buttom-save">Guardar</button>
          </div>

        </form>
      </section>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <!-- Scrips -->
  <script src=""></script>

</body>

</html>