<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('../partials/meta.ejs')%>

  <!-- links -->

  <!--Custom Css-->
  <%- include('../partials/css.ejs')%>
  <link rel="stylesheet" href="/css/register.css" />

  <!-- Font -->
  <link rel="" href="" />

  <!--FavIcon-->
  <link rel="shortcut icon" href="/img/icons/FavIcoYellow.ico" type="image/x-icon" />
  <!--Icons-->
  <script src="https://kit.fontawesome.com/28a6abd58f.js" crossorigin="anonymous"></script>

  <!-- Titulo de la Pag -->
  <title>ElectroTools - Registración</title>

</head>

<body>
  <!-- Cuerpo -->

  <header>
    <!--Encabezados-->
    <%- include('../partials/header.ejs')%>
  </header>

  <main>
    <!-- principal -->
    <div class="conteiner">
      <section class="form-conteiner">
        <h1 class="heder-register">REGISTRO DE USUARIO</h1>
        <form action="/users/register" method="post" class="form" enctype="multipart/form-data">
          
          <div class="div-form" id="email">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" placeholder="Correo Electrónico" id="email"
              required>
          </div>

          <div class="div-form" id="username">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="Nombre de Usuario" id="username" required>
          </div>

          <div class="div-form" id="password">
            <i class="fa-solid fa-eye-slash"></i>
            <input type="password" name="password" placeholder="Contraseña" id="password" required>
          </div>

          <div class="div-form" id="password">
            <i class="fa-solid fa-eye-slash"></i>
            <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" id="confirmPassword" required>
          </div>

          <div class="div-form" id="firstname">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="firtsname" placeholder="Nombre" id="firtsname" required>
          </div>

          <div class="div-form" id="lastname">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="lastname" placeholder="Apellido" id="lastname" required>
          </div>

          <div class="div-form" id="age">
            <i class="fa-solid fa-calendar-days"></i>
            <input type="number" name="age" placeholder="Edad" id="age" required>
          </div>

          <div class="div-form" id="phone">
            <i class="fa-solid fa-phone"></i>
            <input type="text" name="phone" placeholder="Teléfono" id="phone" required>
          </div>

          <div class="div-form" id="street">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="street" placeholder="Calle y Altura" id="street" required>
          </div>

          <div class="div-form" id="city">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="city" placeholder="Ciudad" id="city" required>
          </div>

          <div class="div-form" id="country">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="country" placeholder="País" id="country" required>
          </div>

          <div class="div-form" id="cp">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" name="cp" placeholder="Código Postal" id="cp" required>
          </div>

          <div class="div-form" id="image">
            <i class="fa-solid fa-location-dot"></i>
            <input type="file" name="imagen" placeholder="Imagen de Perfil" id="imagen" required>
          </div>

          <div  id="buttom-imput">
            <button type="submit" class="buttom-register">Registrarse</button>
          </div>

        </form>
      </section>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <!-- Scrips -->
  <script src=""></script>

</body>

</html>